div {
    background-color: burlywood;
    height:300px ;
    width: 500spx;

    /* padding: 32px;
    margin:64px; */

    /* border: 3px solid  red; */

    border-style: solid;
    border-width: 13px;
    border-color: rgb(223, 147, 93);

    


}